.button_event_heart {
  color: #fac042;
}

.button_event_reserver {
  background-color: #fac042;
}

.ajustement_event {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 8px;
  margin-bottom: 8px;
}
