.a_event_heart {
  color: #fac042;
}

.a_event_reserver {
  background-color: #fac042;
  font-size: 23px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  color: white;
}

.ajustement_event {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.256);
}

.text_nombre_participant {
  margin-top: 5px;
}
